# Database
DB_NAME=blog
DB_USER=blog_user
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432

# Django
SECRET_KEY=change-me-in-production-use-a-long-random-string
DJANGO_SETTINGS_MODULE=config.settings.dev

# JWT
JWT_SECRET_KEY=change-me-too-use-a-long-random-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Domain (prod)
DOMAIN=your-domain.com
ALLOWED_HOSTS=your-domain.com,www.your-domain.com

# Email
# Dev (Mailpit) : décomenter les deux lignes ci-dessous
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailpit
# EMAIL_PORT=1025
# Prod : configurer votre SMTP et commenter EMAIL_BACKEND pour utiliser le console backend
# EMAIL_HOST=smtp.example.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=true
# EMAIL_HOST_USER=user@example.com
# EMAIL_HOST_PASSWORD=secret
DEFAULT_FROM_EMAIL=papobilou <noreply@papobilou.ch>
SITE_URL=https://papobilou.ch
